{{#each this as |player|}}
  <!-- {{log player}} -->
  <!-- {{> players}} -->
  {{#player}}
  <div class="players" data-id="{{id}}">
    <div class="player-id">ID: {{id}}</div>
    <div class="players-name">Name: {{first_name}} {{last_name}}</div>
    <div class="players-info">Personal Info: {{personal_info}}</div>
    <div class="players-team">Team: {{team}}</div>
    <div class="players-stats">Stats: {{stats}}</div>
    <div class="players-league">League: {{league}}</div>
  </div>
  {{/player}}

{{/each}}
