{{#each this as |player|}}

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Player</th>
        <th scope="col">Personal Info</th>
        <th scope="col">Team</th>
        <th scope="col">Stats</th>
        <th scope="col">League</th>
      </tr>
    </thead>

    <tbody>
      {{#player}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{personal_info}}</td>
            <td>{{team}}</td>
            <td>{{stats}}</td>
            <td>{{league}}</td>
          </tr>
      {{/player}}
    </tbody>
  </table>


{{/each}}
