{{#each this as |player|}}

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Player</th>
        <th scope="col">Personal Info</th>
        <th scope="col">Team</th>
        <th scope="col">Stats</th>
      </tr>
    </thead>

  {{#player}}
    <tbody>
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{first_name}} {{last_name}}</td>
        <td>{{personal_info}}</td>
        <td>{{team}}</td>
        <td>{{stats}}</td>
      </tr>
    </tbody>
  {{/player}}
  </table>


{{/each}}
