{{#each this as |stats|}}

<table class="table table-hover" data-page-length="10">
  <thead class="thead-dark">
    <tr>
      <th data-orderable="false"></th>
      <th>#</th>
      <th>Player</th>
      <th>Position</th>
      <th>Games Played</th>
      <th>FG%</th>
      <th>FT%</th>
      <th>3PM</th>
      <th>Points</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Steals</th>
      <th>Blocks</th>
      <th>Turnovers</th>
    </tr>
  </thead>

  <tbody class="all-stats-table">
    {{#stats}}
    <tr data-id="{{stat.id}}" class="stat-player-{{stat.id}}">
      <td data-id="{{stat.id}}">
      <button class="add-player-button" id="add-player-button-{{stat.id}}" data-id={{stat.id}}>
        <img src="https://img.icons8.com/color/30/000000/star.png">
      </button>
      <button class="delete-player-button hidden" id="delete-player-button-{{stat.id}}" data-id={{stat.id}}>
        <img src="https://img.icons8.com/color/30/000000/filled-star.png" class="stats-table-{{stat.id}}">
      </button>
      </td>
      <th scope="row">{{stat.id}}</th>
      <td>{{stat.player}}</td>
      <td>{{stat.position}}</td>
      <td>{{stat.games_played}}</td>
      <td>{{stat.fg_percentage}}</td>
      <td>{{stat.ftp}}</td>
      <td>{{stat.three_pointers}}</td>
      <td>{{stat.points}}</td>
      <td>{{stat.trb}}</td>
      <td>{{stat.ast}}</td>
      <td>{{stat.stl}}</td>
      <td>{{stat.blk}}</td>
      <td>{{stat.tov}}</td>
    </tr>
    {{/stats}}
  </tbody>
</table>



{{/each}}
